.services {
  &__inner {
    margin-bottom: -32px;
  }

  &__block {
    display: flex;
    align-items: center;
    width: $c-3;
    margin-bottom: 32px;
    padding: 27px 18px 27px 29px;

    background-color: #fff;
    border-radius: $radius;

    @media (max-width: $xl) {
      width: $c-4;
    }

    @media (max-width: $lg) {
      width: $c-6;
    }

    @media (max-width: $md) {
      width: $c-12;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 66px;
    height: 66px;
    margin-right: 17px;

    background: linear-gradient(105.96deg, #3f0f72 13.07%, #791281 85.2%);
    border-radius: 50%;
  }

  &__name {
    margin-bottom: 0;

    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    font-family: $ff-secondary;
    color: $c-main;
    font-style: normal;

    & br {
      @media (max-width: $md) {
        display: none;
      }
      @media (max-width: $xs) {
        display: block;
      }
    }
  }
}
