// ////////////////////////////////////////// Roboto
@font-face {
  font-weight: 300;
  font-family: Pragmatica;
  font-style: normal;

  font-display: swap;
  src: url(../font/Pragmatica/Pragmatica-Light.woff2),
  url(../font/Pragmatica/Pragmatica-Light.woff);
}

@font-face {
  font-weight: 400;
  font-family: Pragmatica;
  font-style: normal;

  font-display: swap;
  src: url(../font/Pragmatica/Pragmatica-Medium.woff2),
  url(../font/Pragmatica/Pragmatica-Medium.woff);
}

@font-face {
  font-weight: 400;
  font-family: TTCommons;
  font-style: normal;

  font-display: swap;
  src: url(../font/TTC-commons/TTCommons-Regular.woff2),
  url(../font/TTC-commons/TTCommons-Regular.woff);
}

@font-face {
  font-weight: 600;
  font-family: TTCommons;
  font-style: normal;

  font-display: swap;
  src: url(../font/TTC-commons/TTCommons-DemiBold.woff2),
  url(../font/TTC-commons/TTCommons-DemiBold.woff);
}

@font-face {
  font-weight: 700;
  font-family: TTCommons;
  font-style: normal;

  font-display: swap;
  src: url(../font/TTC-commons/TTCommons-Bold.woff2),
  url(../font/TTC-commons/TTCommons-Bold.woff);
}
