// //////////////////////////////////////// font-family
$ff-main: "TTCommons", sans-serif;
$ff-secondary: "Pragmatica", sans-serif;

// //////////////////////////////////////// font-size
$fz-main: 16px;

// //////////////////////////////////////// colors
$c-main: #333;
$c-secondary: #777;
$c-accent: #7e779a;

// //////////////////////////////////////// radius
$radius: 9px;

// //////////////////////////////////////// breakpoints
$sl: 1499.98px;
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;
$xs: 425.98px;
$ss: 359.98px;
